.secao-livros {
  padding: 60px 5%;
  background-color: #f9f9f9;
  text-align: center;
}

.secao-livros h2 {
  margin-bottom: 40px;
  color: #333;
}

/* Garante que o card ocupe o espaço do slide */
.card-livro {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding-bottom: 20px;
  margin-bottom: 40px; /* Espaço para as bolinhas da paginação */
  transition: 0.3s;
}

.capa-livro {
  width: 100%;
  height: 350px;
  object-fit: contain; /* Não corta a capa do livro */
  background-color: #eee;
  border-radius: 12px 12px 0 0;
}

/* Cor das setinhas para combinar com seu site */
.swiper-button-next, .swiper-button-prev {
  color: #345e80 !important;
}

/* Cor das bolinhas embaixo */
.swiper-pagination-bullet-active {
  background: #345e80 !important;
}
.btn-acessar {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #345e80;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}